.contact-icon-btn {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.contact-icon-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(255,255,255,0.7);
}

.titulo-glow {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 
      0 0 2px #ffea00,
    
      0 0 4px #ffea00;
}

.titulo-glow2 {
    font-size: 20px;
  color: #ffffff;
  text-shadow: 
      0 0 2px #ffea00,
      0 0 2px #ffea00;
}

.boton-animado:hover {
    transform: translateY(-1px); 
}

.boton-animado:active {
    transform: translateY(1px) scale(0.97); 
}


.map-container-custom {
  width: 75%;
  max-width: 800px;
  height: 350px;
  background: rgba(0, 0, 0, 0.4); 
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.map-container-custom iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}


.map-dark-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25); 
  pointer-events: none;            
  z-index: 2;
}

@media (max-width: 768px) {
  .map-container-custom {
    width: 95%;
    height: 300px;
  }
}
